body
{
    margin: 0;
}

.flex-box
{
    display: flex;
    background-color: gray;
    opacity: 0.9;
    flex-direction: row;
    height: 60px;
    top: 0px;
    width: 1520px;
    justify-content: end;
    position: fixed;
    
}
.flex-item
{
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    height: 15px;
    width: 38px;
    padding: 10px;
    padding-top: 8px;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 15px;
    
}
input
{
    height: 40px;
    width: 650px;
    margin-top: 10px;
    margin-right: 5px;
    border: 1px groove;
    border-radius: 10px;
    font-size: 20px;
    
}
::placeholder
{
    text-align: left;
    color: blue;
    font-size: 18px;

}
button
{
    height:38px ;
    margin-right: 20px;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
}
.flex-img
{
    height: 35px;
    padding-top: 15px;
    padding-right: 60px;
}




.grid-parentcontainer
{
    display: grid;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    /* background-color: green; */
    /* padding: 05px; */
   /* grid-template-rows: auto auto auto auto auto; */
  
   
}

.grid-box1
{
    height: 40px;
    background-color: lightgray;
    opacity: 0.7;
    width: 1520px;
    position: absolute;
    top:60px;
    padding-bottom: 40px;
    padding-top: -20px;    
}
.box1ark-logo
{
    height: 80px;
    float: left;
    padding-left: 300px;
    
   
}
.gridbox1-txt1
{
    font-size: 17px;
    font-family: calibri;
    padding-left: 950px;
   padding-top: 30px;
}

.grid-box2
{
    background-image: url(billboard.jpg);
    background-size: cover;
    height: 680px;
    font-size: 100px;
}

.grid-box3
{
    height: 77px;
    background-color: lightgray;
    width: 1520px;
    opacity: 0.7;
    position: absolute;
    top: 603px;
}
.gridbox3-text2
{
    padding-top: 30px;
    padding-left: 150px;
    font-family: calibri;
    font-size: 18px;
     
}

.gridbox3-text3
{
    font-size: 15px;
    color: white;
    margin-left:660px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #00CED1;
}
.grid-box4
{
    background-color: #F8F8FF;
    width: 900px;
    height: 330px;
    margin-left: 302px;
    padding-top: 110px;
}

.gridbox4-head
{
    font-size: 25px;
    font-family: calibri;
    color: #696969;
    font-weight: bold;
    padding-left:240px;
}


.box4seprator-img
{

    padding-left: 180px;
    padding-right: 70px;
    width: 550px;
    height: 60px;
  
}

.box4pencilbox-img
{
    height: 40px;
    padding-left: 168px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.box4pentool-img
{
    height: 40px;
    padding-left: 238px;
    padding-bottom: 20px;
   
}

.box4tv-img
{
    height:40px;
    padding-left: 235px;
    padding-bottom: 20px; 
}

.box4pencil-heading
{
    font-size: 17px;
    font-family: calibri;
    font-weight: bold;
    color: #696969;
    padding-left: 120px;
    
}

.box4pentool-heading
{
    font-size: 17px;
    font-family: calibri;
    font-weight: bold;
    color: #696969; 
    padding-left: 80px;
    
}
.box4tv-heading
{
    font-size: 17px;
    font-family: calibri;
    font-weight: bold;
    color: #696969;
    padding-left: 80px;
}

.box4pencil-line1  
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 128px;
    
   
}

.box4pentool-line1
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 95px;  
}

.box4tv-line1
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 90px; 
}
.box4pencil-line2
{
    font-size: 10px;
    font-family: calibri;
    color: #696969; 
    padding-left:123px; 
}

.box4pentool-line2
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 90px; 
}

.box4tv-line2
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 83px; 
}
.box4pencil-line3
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left:195px;
   
}

.box4pentool-line3
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 220px;
   
}

.box4tv-line3
{
    font-size: 10px;
    font-family: calibri;
    color: #696969;
    padding-left: 215px;
    
}

.grid-childcontainer
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* background-color: red; */
    width: 1520px;
    height: 400px;
    /* border: 1px solid black; */
    
   
}


.first-img
{
    height: 400px;
    width: 302px;
}

.second-img
{
    height: 400px;
    width: 312px;  
}

.third-img
{
    height: 400px;
    width: 300px;   
}

.fourth-img
{
    height: 400px;
    width: 290px;   
}

.fifth-img
{
    height: 400px;
    width: 315px;   
}
.grid-box5
{
    background-color:  #F8F8FF;
    width: 900px;
    height: 450px;
    margin-left: 302px;
    padding-top: 80px;  
}

.gridbox5-head
{
    font-size: 25px;
    font-family: calibri;
    color: #696969; 
    font-weight: bolder;
    padding-left:375px;
}
.box5client1-img
{
    height: 80px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
   
}
.box5client2-img
{
    height: 80px;
    border-radius: 50px;
    margin-left: 220px;
    margin-bottom: 20px;
}
.box5client3-img
{
    height: 80px;
    border-radius: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.small-size
{
    font-size: 18px;
    font-family: calibri;
    color:#696969;
    font-weight: none;
}

.box5img1-head
{
    font-size: 23px;
    color: #696969; 
    font-family: calibri;
    font-weight: bolder;
    padding-left: 45px;
    

}
.box5img2-head
{
    font-size: 23px;
    color: #696969; 
    font-family: calibri;
    font-weight: bolder;
    padding-left: 140px;
}

.box5img3-head
{
    font-size: 23px;
    color: #696969; 
    font-family: calibri;
    font-weight: bolder;
    padding-left: 102px;
}
.box5img1-line1
{
    font-size: 14px;
    color:#696969;
    font-family: calibri;
    padding-left:30px;
  

}
.box5img2-line1
{
    font-size: 14px;
    color:#696969;
    font-family: calibri;
    padding-left:70px;
}
.box5img3-line1
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left:70px;
}
.box5img1-line2
{
    font-size: 14px;
    color:#696969;
    font-family: calibri;  
    padding-left: 22px;
}
.box5img2-line2
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left: 58px;
}
.box5img3-line2
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left: 58px;
}
.box5img1-line3
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left: 35px;
}
.box5img2-line3
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left: 83px;
}
.box5img3-line3
{
    font-size: 14px;
    color:#696969;
    font-family: calibri; 
    padding-left: 85px;
}

.grid-box6
{
    height: 77px;
    background-color: #F8F8FF;
    width: 1520px; 
    position: absolute;
    top: 1973px; 
}

.box6first-img
{
  padding-top: 30px;
  padding-left: 302px; 
   
}
.box6second-img
{
    padding-left: 70px; 
}
.box6third-img
{
    padding-left: 70px; 
}
.box6fourth-img
{
    padding-left: 70px; 
}
.box6fifth-img
{
    padding-left: 70px; 
}
.box6six-img
{
    padding-left: 80px;    
}


.grid-box7
{
    height: 55px;
    background-color:#454545;
    width: 900px;
    margin-left: 302px;
    padding-top: 30px;
    position: absolute;
    top: 2050px;
}

.box7-head1
{
  color: white;
  font-family: calibri;
  font-size: 20px;
  padding-left: 40px;
  
}
.box7-head2
{
    font-size: 15px;
    font-family: calibri;
    color: white;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #00CED1; 
}
.grid-box8
{
    background-color:#343434;
    height: 300px;
    padding-top: 150px;
}


.box8-head1
{
    font-size: 21px;
    font-family: calibri;
    color: white;
    padding-left: 310px;    
   
}
.box8-head2
{
    font-size: 21px;
    font-family: calibri;
    color: white;
    padding-left: 150px;
}
.box8-head3
{
    font-size: 21px;
    font-family: calibri;
    color: white;
    padding-left: 110px;
}
.box8-head4
{
    font-size: 21px;
    font-family: calibri;
    color: white;
    padding-left: 130px;
    
}
.box8location-line1
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 310px;
   
}
.box8company-line1
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 70px;
}
.box8support-line1
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 135px;
}
.box8ark-line1
{
    color: white;
    font-family: calibri;
    font-size: 13px;
    padding-left: 165px;
}
.box8location-line2
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 310px;
   
}
.box8company-line2
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 90px;
}
.box8support-line2
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 145px;
}
.box8ark-line2
{
    color: white;
    font-family: calibri;
    font-size: 13px;
    padding-left: 124px;
}
.box8location-line3
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 310px;
   
}
.box8company-line3
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 137px;
}
.box8support-line3
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 150px;
}
.box8ark-line3
{
    color: white;
    font-family: calibri;
    font-size: 13px;
    padding-left: 143px;
}
.box8social-img
{
    height: 20px;
    width: 60px;
    padding-left: 315px;
    padding-top: 10px;
}
.box8company-line4
{
    color: white;
    font-family: calibri;
    font-size: 15px;
    padding-left: 165px; 
}
.box8ark-line4
{
    color: white;
    font-family: calibri;
    font-size: 13px;
    padding-left: 345px;
}
.box8end-para
{
    color: white;
    font-family: calibri;
    font-size: 13px;
    padding-left: 640px; 
}













